<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    h1 {
        text-align: center;
        margin: 24px;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        border: 2px solid black;
        border-radius: 10px;
        background-color: #9045ec;
        padding: 10px;
        margin: auto;
        height: 432px;
        width: 60%;
    }

    .parties {
        /* border: 2px solid black;
        background-color: rgb(221, 255, 0); */
        height: 250px;
        width: 23%;
        margin: 5px;
        padding: 5px;
    }

    .partyLogo {
        border: 2px solid red;
        display: block;
        width: 100px;
        height: 100px;
        margin: 5px auto;
        border-radius: 10px;
    }

    .vote {
        width: 100%;
        height: 50px;
        padding: 5px;
        border: 2px solid black;
        background-color: rgb(220, 216, 226);
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    .vote {
        width: 100%;
        height: 50px;
        padding: 5px;
        margin: 12px auto;
        border: 2px solid black;
        background-color: rgb(205 233 55);
        border-radius: 8px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
    }

    .vote:hover {
        color: rgb(186, 186, 170);
    }

    .votes {
        margin-left: 35px;
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    #showResult {
        width: 50%;
        height: 50px;
        padding: 5px;
        margin: auto;
        border: 2px solid black;
        background-color: #e6ed0ad1;
        border-radius: 8px;
        font-size: 1.5rem;
        font-weight: bold;
        cursor: pointer;
    }

    #showResult:hover {
        color: rgb(154, 154, 137);
    }
</style>


    <div class="container">
        <div class="parties">
            <img class="partyLogo" src="candidate.png" alt="image is not loaded">
            <button id="bjpVote" class="vote">Vote</button>
            <p id="bjpResult" class="votes">Votes: </p>
        </div>
        <div class="parties">
            <img class="partyLogo" src="congress logo.jpg" alt="image is not loaded">
            <button id="congressVote" class="vote">Vote</button>
            <p id="congressResult" class="votes">Votes: </p>
        </div>
        <div class="parties">
            <img class="partyLogo" src="aam-aadmi-party.jpeg" alt="image is not loaded">
            <button id="aapVote" class="vote">Vote</button>
            <p id="aapResult" class="votes">Votes: </p>
        </div>
        <div class="parties">
            <img class="partyLogo" src="BSP logo.jpg" alt="image is not loaded">
            <button id="bspVote" class="vote">Vote</button>
            <p id="bspResult" class="votes">Votes: </p>
        </div>
        <button id="showResult">Show Election Result</button>
    </div>




    <script>
        let bjp_votes = 0;
        let congress_votes = 0;
        let aap_votes = 0;
        let bsp_votes = 0;
        let bjp_result = document.getElementById("bjpResult");
        let congress_result = document.getElementById("congressResult");
        let aap_result = document.getElementById("aapResult");
        let bsp_result = document.getElementById("bspResult");

        document.getElementById("bjpVote").addEventListener("click", () => {
            bjp_votes++;
            bjp_result.innerHTML = "Votes: " + bjp_votes;
        })
        document.getElementById("congressVote").addEventListener("click", () => {
            congress_votes++;
            congress_result.innerHTML = "Votes: " + congress_votes;
        })
        document.getElementById("aapVote").addEventListener("click", () => {
            aap_votes++;
            aap_result.innerHTML = "Votes: " + aap_votes;
        })
        document.getElementById("bspVote").addEventListener("click", () => {
            bsp_votes++;
            bsp_result.innerHTML = "Votes: " + bsp_votes;
        })

        document.getElementById("showResult").addEventListener("click", () => {
            if (bjp_votes > congress_votes && bjp_votes > aap_votes && bjp_votes > bsp_votes) {
                bjp_result.innerHTML = " BJP won the elections";
                congress_result.innerHTML = "";
                aap_result.innerHTML = "";
                bsp_result.innerHTML = "";
            } else if (congress_votes > aap_votes && congress_votes > bsp_votes && congress_votes > bjp_votes) {
                bjp_result.innerHTML = " ";
                congress_result.innerHTML = " Congress won the elections";
                aap_result.innerHTML = " ";
                bsp_result.innerHTML = " ";
            } else if (aap_votes > bsp_votes && aap_votes > congress_votes && aap_votes > bjp_votes) {
                bjp_result.innerHTML = "";
                congress_result.innerHTML = "";
                aap_result.innerHTML = " AAP won the elections";
                bsp_result.innerHTML = "";
            } else if (bsp_votes > congress_votes && bsp_votes > aap_votes && bsp_votes > bjp_votes) {
                bjp_result.innerHTML = "";
                congress_result.innerHTML = "";
                aap_result.innerHTML = "";
                bsp_result.innerHTML = " BSP won the elections";
            }
            else {
                bjp_result.innerHTML = " NO Result";
                congress_result.innerHTML = " NO Result";
                aap_result.innerHTML = " NO Result";
                bsp_result.innerHTML = " NO Result";
            }
            bjp_votes = 0;
            congress_votes = 0;
            aap_votes = 0;
            bsp_votes = 0;
        })
    </script>