<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload a File</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #ededed;
            padding: 10px 0;
            text-align: center;
        }
        
        nav {
            height: 20px;
            
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin: 0 10px;
        }
        nav ul li a {
            color: #fff;
            text-decoration: none;
            color: #000;
        }
        main {
            padding: 20px 0;
        }
        form {
            max-width: 600px;
            margin: 50px auto;
            background-color: #fff;
            padding: 20px;
            border: 1px solid #ccc;
        }
        form label {
            display: block;
            margin: 10px 0 5px;
        }
        form input,
        form textarea {
            width: 95%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
        }
        form button {
            padding: 10px 20px;
            background-color: #333;
            color: #fff;
            border: none;
            cursor: pointer;
        }

        h1 {
            color: #000;
            position: absolute;
            left: 675px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/uploads">Back to All Posts</a></li>
            </ul>
        </nav>
    </header>
    <main>
                <h1>Make a Post!</h1>

        <%- include("partials/sidePanel.ejs") %> 

        <form action="/uploads" method="POST">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>
            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>
            <label for="fileUrl">File URL:</label>
            <input type="text" id="fileUrl" name="fileUrl" required>
            <label for="author">Author:</label>
            <input type="text" id="author" name="author" required>
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>
