<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CVote</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

    *,
    *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
  }

  body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden ;
  }

  main .container {
    display: grid;
    grid-template-columns: 18vh auto 20vw;
    column-gap: 2rem;
    position: relative;
  }

  main .container .left {
    height: max-content;
    position: sticky;
  }

  .middle {
    margin-left: 300px;

  }

  .middle .create-post {
    width: 700px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
    background: white;
    padding: 0.4rem;
    border-radius: 20px;
    border: none;
  }
  .middle .create-post {
    background: rgb(234, 234, 234);
  }
  .middle .create-post input[type="text"] {
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background-color: transparent;
    margin-right: 1rem;
  }

  .middle .post-btn {
    background-color: #48398f ;
    width: 6rem;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    
  }

  .middle .post-btn:hover {
    background-color: #594f8d;
  }
  
    </style>
<body>



  <%- include("partials/header.ejs") %>

<main>
  <div class="container">
    <!-- ----------------------------Left--------------------------------- -->
    <div class="left">
      <%- include("partials/sidePanel.ejs") %>
    </div>
    <!-- ----------------------------middle--------------------------------- -->
    <div class="middle">
      <form class="create-post">
        <div class="profile-photo">

        </div>
        <input type="text" placeholder="..." class="create-post" >

        <button type="submit" class="post-btn">Post</button>
      </form>
    </div>
    <!-- ----------------------------right--------------------------------- -->
    <div class="right">

    </div>
  </div>
</main>
  

  <%- include("partials/footer.ejs") %>





  
</body>
</html>
